body {
    background-color: rgb(27,185,159);
}
#container{
    background-color: azure;
}
.jumbotron{  
    margin:0 auto;
    padding-top: 20px;
    width: 80%;
    text-align: center;
}
#pass{
    margin-top:20px;
    margin-bottom:10px;
}
#logoicn{
    text-align: center;
    border: none;
}