.grouping{
	min-width: 420px;
}
div#wrapper {
    overflow:hidden;
}
.messagebox{
	margin-top: 2%;
    border-radius: 5px;
    padding-top: 1%;
    
}
.nav-search{
	float: left;
	
}
#group,#group1,#group2{
	cursor: pointer;
	color: white;
}

#group-menu,#group1-menu,#group2-menu{
	display: none;
}

.sidebar-brand > a:first-of-type{
	width: 160px;
    float: left;
}

.sidebar-brand .navbar-header.nav-search{
	width: 60px;
}

.sidebar-brand .navbar-header.nav-search .col-md-3{
	width: 80px;
    margin-top: 12px;
    text-indent: 0px;
}

.size-box{
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	border-radius: 3px;
	padding: 1%; 
	background-color:#FFFFFF;
	margin-right: 25%;
	margin-top: 1%;
	margin-right: 18%;
	width: 80%;
}

.box-sent{
	margin-top: -5%;
    text-align: right;
}


.bodylogin{
	background-color:#E8E8E8;
}

.bodyloginsizebox{
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	border-radius: 5px;
	padding: 1%; 
	background-color:#FFFFFF;
}

.textbox-dashboard{
	margin-left: 1%;
    
}

.groupbox{
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
    border-radius: 5px;
    padding: 1%;
    background-color: #FFFFFF;
    margin-top: 1%;

}

.badge-position{
	margin-left: 365%;
}

.triangle-position{
	margin-left: 2%;
    margin-top: 5%;
}

.badge-box{
	margin-top: -15%;
	margin-left: 470%;
	display: inline-flex;
}

.subbadge-box{
	padding-left: 7% !important; 
}

.div-search{
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	border-radius: 5px;padding: 1%; 
	background-color:#FFFFFF;
	margin-top: 1%;
	margin-right: 0%;
	width: 80%;
}
.box-search{
	padding-top: 1%;
    width: 100%;
}
.btn-search{
	margin-top: -5%;
    text-align: center;
}
.btn-join{
	float: right;
    margin-top: -10%;
}

.head-page{
    padding-top: 1%;
    color: #FFFFFF;
}

.btn-save{
	padding-left: 45%;
    padding-bottom: 3%;
}

.choice-ingroup{
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	border-radius: 5px;
	padding: 1%; 
	background-color:#FFFFFF;
	margin-right: 25%;
	margin-top: 1%;
	margin-right: 18%;
	width: 80%;
}
.bookmark-position{
	float: right !important; 
    margin-right: 8%;
    margin-top: -3%;
}
.body{
	overflow: visible;
}
.box-edit{
	padding-left: 40%;
}
.box-pic{
	margin-top: -4%;
}
.box-edit{
	float: right;
}

.add-friend{
    padding-top: 3%;
    padding-bottom: 3%;

}
.box-friend{
	padding-top: 3%;
	padding-top: 0%;
}
.btn-accept{
	margin-top: -22%;
}

.btn-position{
	padding-top: 3%;

}
.btn-member{
	margin-top: -13%;
    margin-left: 46%;
    padding-left: 35%;
   

}
.box-name{
	padding-left: 3%;
}

.name-box{
	padding-top: 3% !important;
	padding-bottom: 3%;
}
.box-set{
	float: right !important;
    margin-top: -8%;
    color: #e8e8e8;
}
.tab-member{
	padding-top: 10%;
    margin-top: -1%;
    background-color: #FFFFFF;
    margin-left: 0.4%;
    padding-bottom: 10%;
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	border-radius: 5px;

}

.box-action{
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	border-radius: 5px;
	padding: 1%; 
	background-color:#FFFFFF;
	margin-right: 25%;
	margin-top: 1%;
	margin-right: 18%;
	width: 100%;
	padding-bottom: 5%;
}
.box-leave{
	margin-top: -3%;
    padding-left: 13% !important;

}

.menu-dropdown{
	padding-left: 85%;
    margin-top: -7.5%;
    color: #e8e8e8;
}
.positon-menulist{
	 margin-left: 44%;
}

.btn-ack{
	float: right;
    margin-top: -14%;

}

.size-img{
	width: 50px;
	height: 50px;
}

.position-pannel{
	width: 80%;
	margin-left: 3%;
	margin-top: 3%;
}
.text-pannel-header{
	margin-top: -10% !important;
    margin-left: 15%;
    margin-bottom: -1% !important;
}


.style-panel-footer{
	background-color: #FFFFFF !important; 
    /*border-top:#FFFFFF!important;*/

}
.name-sent{
	margin-top: -14%;
    margin-left: 14%;

}

.navbar-second{
	min-width: 1280px;
	background-color: #FFFFFF !important;
	position: fixed !important;
	margin-top: 2%;
	border-color: #FFFFFF !important; 
	

}
.icon-head{
	text-align: center;
    padding-top: 1%;
}
.headposition{
	text-align: center;
    margin-left: 1%;
}


.priorityset{
	margin-top: -1%;
	display: inline-flex;
	margin-bottom: 1%;
}
.btn-sent{
	margin-top: -28%;
	margin-left: 4%;
}
.name-ack{
	margin-top: -10%;
    margin-left: 20%;
}
.position-li{
	padding-top: 2%;
	border-bottom: 1px solid #d6e9c6;
    padding-bottom: 5%;
}
.position-default{
	padding-top: 2%;
	border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5%;
}
.position-ul{
	padding-top: 2%;
    padding-bottom: 5%;
}

.tab-seen{
	padding-top: 10%;
    margin-top: -1%;
    background-color: #FFFFFF;
    margin-left: 0.4%;
    padding-bottom: 10%;
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	border-radius: 3px;

}
.tab-style{
	border-bottom: 1px solid rgba(221, 221, 221, 0) !important;
	text-align:center;

}
.box-mem{
	margin-top: -10%;
}
.border-mem{
	border-bottom: 1px solid #e8e8e8;
}

.phone-set{
	float: right;
    margin-top: -8%;
    margin-right: 5%;
    color: #e8e8e8;
}

.set-send{
	float: right;
    margin-top: -10%;
}

.editbug-wrapper{
	min-height: 700px;
}

.icon-size{
	width: 25px;
    height: 25px;
}
.panel-set{
	margin-top: -7% !important;
    margin-left: 12%;
}
.panel-h4{
	margin-left: 2%;
}

.btn-right{
	padding-right: 1%
}

.btn-left{
	padding-left: 1%
}
.tab-size{
	width: 108px !important;

}
.style-badge{
	float: right;
    background-color: #3c763d;
}
.a-style{
	color: #000;
}

.send-search{
	width: 82% !important;
}
.btn-send-search{
	float: right;
    margin-top: -11%;
}
.span-down{
	float: right;
}
.layout-search{
	
    padding-left: 10% !important;
}
.icon-size-send{
	width: 20px;
	height: 20px;
}
.set-search-name{
	padding-top: 1%;
}

.layout-leave{
	margin-top: 5%;

}



@media (max-width: 768px) {
	.grouping {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

  	.grouping > .col-md-12{
  		margin-left:0px !important;
		padding-left: 5%;
		padding-right: 5%;
	}
	.size-box{
		width: 80% !important;
		margin-top: 8%;
		margin-right: 17%;
		padding-top: 2%;

	}
	.box-sent{
		margin-top: -1%;
	    margin-bottom: 1%;
	    padding-right: 12%;
	    padding-top: 5%;
	}

	.textbox-dashboard{
		margin-left: 5% !important;
	    text-align: center;
	}
	
	.groupbox{
		box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	    border-radius: 5px;
	    padding: 1%;
	    background-color: #FFFFFF;
	    margin-top: 1%;

	}
	.badge-position{
		margin-left: -1%;
    }
	.triangle-position{
		margin-left: -25%;
	    margin-top: 5%;
	}

	.badge-box{
		margin-top: -15%;
		margin-left: 128%;
		display: inline-flex;
	}
	
	.subbadge-box{
		padding-left: 1% !important; 
    }

    .div-search{
		width: 100% !important;
		margin-top: 3%;
	}

	.btn-search{
		margin-top: -1%;
	    margin-bottom: 3%;
	    padding-top: 5%;
	}

	.btn-join{
		float: right;
    	margin-top: -10%;
	}
	.head-page{
    	padding-top: 1%;
    	color: #FFFFFF;
	}

	.btn-save{
		padding-left: 45%;
    	padding-bottom: 3%;
	}
	.bookmark-position{
		float: right !important; 
	    margin-right: 8%;
	    margin-top: -3%;
	}
	.box-edit{
		padding-left: 40%;
	}
	.box-pic{
		margin-top: -4%;
	}
	.box-edit{
		float: right;
	}

	.add-friend{
	    padding-top: 3%;
	    padding-bottom: 3%;

	}
	.box-friend{
		padding-top: 3%;
		padding-top: 0%;
	}
	.btn-accept{
	 margin-top: -22%;
	}
	.btn-position{
		padding-top: 3%;

	}
	.box-name{
		padding-left: 3%;
	}

	.name-box{
		padding-top: 3% !important; 
		padding-bottom: 3%;
	}
	.box-set{
	float: right !important;
    margin-top: -8%;
    color: #e8e8e8;
	}
	.set-writemsg{
	  margin-top: 7%;
	}
	



}